<div class="container">
  <div class="row">
    <h2>
      Who we are
    </h2>
    <p>
      The Additive Atlas started as a project proposal for an Assignment at AIT - Academy of Information Technology. Which we take it to develop and proper design according to the users needs and specifications. We find out that nowadays people are getting busier every day. Our intention is to make it easier for the users so they don’t have to worry about what they are going to cook if they only have a few things on fridge. Also we are passionate about IT and always developing a new team. Our bound grown up every day while releasing new features for Additive Atlas Website.<br /><br />

      We also would like to thank you for all support and visiting our website. <br><br>

      Why Additive Atlas?<br><br>

      As Additive is a synonym of ingredients and Atlas means book we thought it would be great putting these words together and creating the AA.

    </p>
  </div>

  <br /><hr /><br />
  <div class="row">
    <div class="col-md-3 img-size-div">
      <img src="assets/imgs/alick.png" class="img-circle img-size" alt="">
    </div>
    <div class="col-md-9">
      <div class="colPadding">
        <h3>Alick Buscariolli</h3>
        <p>
          I am 28 years old. On my spare time I usually work out, play mobile games, go to parties, cook my diet plan. I am Electrical Engineering, graduated at Faculdade de Engenharia Industrial at Brazil. Now I am doing Bachelor of Information Technology at AIT on Sydney.
        </p>
      </div>
    </div>
  </div>
  <br /><hr /><br />
  <div class="row">
    <div class="col-md-9">
      <h3>Eric</h3>
      <p>
        I am 24 years old. On my spare time I usually play PC Games.  I am licensed by TAFE as Electrician. Now I am doing Bachelor of Information Technology at AIT on Sydney.
      </p>
    </div>
    <div class="col-md-3 img-size-div">
      <img src="assets/imgs/eric.jpg" class="img-circle img-size" alt="">
    </div>
  </div>
  <br /><hr /><br />
  <div class="row">
    <div class="col-md-3 img-size-div">
      <img src="assets/imgs/shelida.jpg" class="img-circle img-size" alt="">
    </div>
    <div class="col-md-9">
      <h3>Shelida</h3>
      <p>
        I am 23 years old. On my spare time I usually play PC Games, go out with friends. I have worked as Support Analyst before and now I am doing Bachelor of Information Technology at AIT on Sydney.
      </p>
    </div>
  </div>
  <br /><hr /><br />
  <div class="row">
    <h2>Follow us on social media</h2>
    <ul class="list-inline">
      <li><img src="assets/imgs/social_icons/facebook-hd-png-facebook-social-social-media-icon-256.png" class="social-icon" alt=""></li>
      <li><img src="assets/imgs/social_icons/instagram-new-color-flat.png" class="social-icon" alt=""></li>
      <li><img src="assets/imgs/social_icons/twitter_circle-512.png" class="social-icon" alt=""></li>
    </ul>
  </div>
  <br /><br />
</div>
