<!-- content -->
<div class="container">
  <!-- carousel -->
  <app-carousel></app-carousel>
  <h2>Step by step!</h2>
  <div class="row">
    <div class="col-md-4">
      <img src="assets/imgs/home/homepic1.png"/>
      <p>Click on Recipes link to have a broad view of our recipes...</p>
    </div>
    <div class="col-md-4">
      <img src="assets/imgs/home/homepic2.png"/>
      <p>Select the ingredient you have in your fridge...</p>
    </div>
    <div class="col-md-4">
      <img src="assets/imgs/home/homepic3.png"/>
      <p>Get the results of recipes by the ingredients selected!</p>
    </div>
  </div>
</div>
